/*noinspection CssInvalidAtRule*/
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

.done {
  @apply text-green-600 border-green-600;
}

.done:hover {
  @apply bg-green-600;
}

.not-done {
  @apply text-gray-500 border-gray-500;
  min-width: 6rem;
}

.not-done:hover {
  @apply bg-gray-500;
}

.add-active {
  @apply text-green-600 border-green-600;
}

.add-active:hover{
  @apply text-white bg-green-600;
}

.add-disabled {
  @apply text-gray-300 border-gray-300;
}